*
{	padding:20px;
	margin: 0;
}

/*------------------SERVICES-------------------------*/

#services {
  	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("we.jpg");
    background-size: cover;
	background-position: center;
	color:#efefef !important;
	background-attachment: fixed;
	padding-top: 20px;
	
}

.services h1 
{
  text-align: center;
	color:#efefef !important;
	padding-bottom: 10px;
}
.services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.icon
{
	font-size: 30px;
	margin:10px auto;
	padding:10px;
	height: 70px;
	width: 70px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.icon img
{
	filter: contrast(40%);
}
.services p
{
	font-size: 14px;
	margin-top: 20px
	color: #ccc;
}
.services .col-md-4:hover
{
	background: #007bff;
	cursor:pointer;
	transition: 1s;
}

/*-----------------------The Creator-----------------------*/
#team
{
	padding-top:2px;
	padding-bottom: 10px;
	color: #555;
	align-content: center;
}
#team h1
{
	padding-bottom: 0px;
}

h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
h1
{
	text-align:center;
	color:#555 !important;
	padding-bottom: 50px;
	padding-top: 50px;
}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin-top: 20px auto 5px;
}
.img-responsive
{
	width: 250px;
	height: 350px;
}
.profile-pic
{
	margin-top: 25px;
}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box
{
	filter: grayscale(1);
}
.profile-pic .img-box:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2 
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}
.profile-pic h3 
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#team .mama
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: white;
	padding-bottom: 5px;
	border-radius: 50%;
	padding-top: 5px;
}
.img-box ul
{
	padding: 10px 0;
	position:absolute;
	z-index: 2;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	opacity: 0;
}
.jon
{
	margin: 5px auto;
	display: inline;
	float: left;
	padding: 10px;
}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1
}
.img-box ul, .img-box ul li
{
	transition: 0.5s;
}
/*--------------PROMO-----------------*/
.promo
{
  		background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
  	url("img/last.jpg");
    background-size: cover;
	background-position: center;
	color:#efefef;
	background-attachment: fixed;
	text-align: center;
	padding: 50px;
	font-family: sans-serif;
	font-size: 38px;
}

/*--------------PRICE RATE-----------------*/
#price
{
	padding:40px ;
	background: #efefef;

}
#price h1
{
	padding-bottom: 0px;
	padding-top: 20px;
}
.single-price
{
	margin: 5px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}
.single-price:hover
{
	box-shadow: 0 2px 20px #333;
}
.price-head
{
	background-color: #2196f3;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.price-head h2
{
	color: #fff;
	font-size: 30px;
	font-weight:bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p
{
	color: #ccc;
	font-size: 25px;
	font-weight: bold;
	line-height:30px;
}
#price span
{
	font-size: 15px
}

.price-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
	padding-bottom: 10px;
	
}
.price-content ul li
{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child
{
	border: none;
}
.fa-check
{
	color: green;
	margin-right: 10px;
	font-size: 20px
}
.fa-times
{
	color: red;
	margin-right: 10px;
	font-size: 20px
}
.price-button
{
	padding-top: 10px;
	padding-bottom: 10px;
	align-content: center;
}
.buy-btn
{
	background-color: #2196f3;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s; 
	margin-left: 90px;
	text-decoration: none !important;
	color: #fff !important;
}
}
.buy-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #3f51b5;
}


/*-------------------TESTIMONIALS---------------*/
#testimonials
{
	padding-top: 50px;
	padding-bottom: 50px;
}
#testimonials .row
{
	margin-top: 30px;	
}
#testimonials h1
{
	padding-bottom: 0px;
}
blockquote
{
	font-size: 16px;
	line-height: 30px;
}
blockquote::before
{
	content: '\99'; 
	font-size:50px;
	color: #007bff;
	position: relative;
	line-height: 20px;
	bottom: -15px;
	right:5px;
}
blockquote::after
{
	content: close-quote;
	font-size:50px;
	color: #007bff;
	position: relative;
	line-height: 10px;
	bottom: -15px;
	left:5px;
}
.why .fa
{
	padding: 10px;
	color: #007bff;
}
.col-md-4
{
	margin:40px auto;
}
.profile
{
	padding: 70px 10px 10px;
	background-color: #efefef;
}

.profile img
{	
	top:-60px;
	position: absolute;
	border:10px solid #fff;
	left: calc(50% - 70px);
}
.profile h3
{
	font-size: 20px;
	margin-top: 15px;
	color: #004bff;
}
.profile span
{
	font-size: 12px;
	color: #333;
}

.why
{
	padding-top: 40px;;

}
.img
{
	height:150px;
	width:150px;
	border-radius: 50%;
}
.profile:hover
{

	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}
/*------------------contact-------------*/

#contact
{
	background: #efefef;
	padding-top: 20px;
	padding-bottom: 20px;
	color:#777;
}
.contact-form
{
	padding: 15px;
}
.contact-control
{
	border-radius: 0 !important;
	border:none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background:#fff;
	padding: 8px;
	margin:15px;
}
.papay
{
	margin-left: 10px;
	margin-right: 10px;
	color: #007bff;
	font-weight:bold;
}
.contact-info .papaya
{
	margin-left: 10px;
}


/*----------------footer-----------------*/
#footer
{
	background: #333;
	color: #fff;
	padding: 12px;
	margin-top: 10px;

}
#footer .fa
{
	margin: 10px;
	color: #fff;
}
/*------------------To the Top-------------------*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  padding: 15px auto;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/*----------------POSTER---------------*/
#poster
{
	background: #efefef;
	padding-top: 30px;
	padding-bottom: 20px;
	color:#efefef;
	background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/Poster/blur.jpg");
    background-size: cover;
	background-position: center;

	
}
#poster h2
{
	font-size: 40px;
	padding-top: 50px;
	text-align: center;
}
#poster p
{
	padding: 50px;
	text-align:center;
}

#poster img
{
	width: 300px;
	height: 350px;
	filter: grayscale(1);
	padding: 80px;
 
    transition: transform .2s; /* Animation */

}
.foot
{
	font-weight: bold;
}


#poster img:hover
{
	filter: grayscale(0);
	cursor: pointer;
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    width: 370px;
	height: 490px;
	box-shadow: 10px;

}



/*----------------FILM EDITOR---------------*/
#video
{
	background: #efefef;
	padding-top: 30px;
	padding-bottom: 20px;
	color:#efefef;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/film.jpg");
    background-size: cover;
	background-position: center;
	
}
#video h2
{
	color: #efefef;
	font-size: 40px;
	padding: 50px;
}
.vid 
{
	padding: 30px;
	width:1000px;
	height: 720px;
	position: relative;
	margin-left: 25px;  
}


/*-----------------WEDDING-------------*/


#wedding-video h2
{
	font-size: 40px;
	padding-top: 50px;
}
#wedding-video
{
	background: #efefef;
	padding-top: 30px;
	padding-bottom: 20px;
	color:#efefef;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/wife.jpg");
    background-size: cover;
	background-position: center;
	
}

#wedding img
{
	width: 1150px;
	height: 500px;
	padding: 50px;
	float: 
}
.wedding img
{
	padding-bottom: 20px;
}


}
.wedding h3
{
	font-size: 14px;
	margin-top: 20px
	color: #ccc;
	background: red;
}
.wedding p
{
	padding: 20px;
}
.wedding .col-md-4:hover
{
	background: #8DC26F;
	cursor:pointer;
	transition: .7s;
}

#slide4
{
	background: url('img/Wedding/slider/4.jpg') center no-repeat;
	height: 900px;
}
#slide5
{
	background: url('img/Wedding/slider/5.jpg') center no-repeat;
	height: 900px;
}
#slide6
{
	background: url('img/Wedding/slider/6.jpg') center no-repeat;
	height: 900px;
}
#slide7
{
	background: url('img/Wedding/slider/7.jpg') center no-repeat;
	height: 900px;
}
#slide8
{
	background: url('img/Wedding/slider/8.jpg') center no-repeat;
	height: 900px;
}
#slide9
{
	background: url('img/Gallery/2.jpg') center no-repeat;
	height: 900px;
}
#slide10
{
	background: url('img/Gallery/4.jpg') center no-repeat;
	height: 900px;
}



/*------------------GALLERY------------*/

#gallery
{
	padding: 50px;
}
#gallery .jon
{	
	width: 500px;
	height: 750px;
	margin-left: 45px;
}
#gallery h2

{
	font-weight: bold;	
	font-size: 50px;
	padding: 0px;
	color: #007bff;

}
#gallery h3
{
	padding-top: 20px;

}
.gallery-content
{
	line-height: 30px;
	padding-top: 30px;
}
.gallery-image
{
	background:center no-repeat;
	height: 550px;
}

/*----------------------fun------------*/
#fun
{
	padding: 50px;
}
#fun h2
{
	color: #007bff;
	font-weight: bold;
	font-size: 50px;
}
#fun h2
{
	padding: 20px;
}
#fun p
{
	padding: 20px;
}
/*------------------GALLERY 2------------*/
#gallery h6
{
	font-weight: bold;
	
}
.head
{
	color:red;
	font-weight: bolder;
	padding-top: 20px;
}
 p
{
	padding-top: 20px;
}
.boom
{
	background: #edeff5;
	padding: 50px;
}
.hello
{
	padding-right: 50px;
	width: 520px;
	height: 500px;
}

/*-----------------portrait----------------*/
#port .port-content
{
padding: 1000px;
	margin-right: 50px;
}

/*-----------------portrait---------------*/

#portrait
{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/Portrait/2.png");
    background-size: cover;
	background-position: center;
	color:#efefef !important;
	background-attachment: fixed;
	padding-top: 20px;
	height: 426px;
}
#portrait h6
{
	text-align: center;
	padding-top: 60px;
	font-weight: bold;
}
#portrait h2
{
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	padding-bottom: 50px;
}
#portrait img
{
	position: center;
	width: 1000px;
	height: 650px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#portrait img:hover
{
	box-shadow: 0 2px 20px black;

}
.our
{
	color: black;
	text-align: center;
	padding-top: 50px;
}
.toy
{
	color: black;
	text-align: center;
	font-weight: bolder;
}
#portrait p
{
	color: black;
	padding-bottom: 50px;
}
#our
{
	padding-bottom: 1000px;
}
#foot
{
	background: #333;
	color: #fff;
	padding: 12px;
	margin-top: 10px;
	text-align: center;
}
#baboy
{
margin-top: 950px;

}
.mika
{
	width: 543px;
	height:406px;
}



table .formtable
{
	padding: 20px;
}







